.media-img[b-fx5atut3jr]{
    max-height: 200px;
    max-width:200px;
    border-radius: 6px;
    margin-bottom:10px;
    transition: transform .2s;
}

.media-img:hover[b-fx5atut3jr] {
    transform: scale(1.1);
}

.media[b-fx5atut3jr] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-fx5atut3jr] {
    flex: 1;
}

.media-img-wrapper[b-fx5atut3jr] {
    width: 200px;
    text-align: center;
}

.price[b-fx5atut3jr] {
    color: green;
}

@media (max-width: 1023.98px) {
    .media[b-fx5atut3jr] {
        flex-direction: column;
    }

    .media-img-wrapper[b-fx5atut3jr] {
        width: 100%;
        height: auto;
    }
}